{% extends "base.html" %}
{% block cuerpo %}
<div class="container">
    <h2>Registro</h2>
    <form class="form-horizontal" method="post" action="/registrarse">
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="email"
                       placeholder="example@domain.com" required="true"/>
                {% if errors && errors.errEmail != '' %}
                <span class="text-danger">{{errors.errEmail}}</span>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name"
                       placeholder=""
                       required="true"/>
                {% if errors && errors.errName != '' %}
                <span class="text-danger">{{errors.errName}}</span>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="lastName">Apellidos:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="lastName"
                       placeholder="" required="true"/>
                {% if errors && errors.errLastName != '' %}
                <span class="text-danger">{{errors.errLastName}}</span>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="password">Contraseña:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password"
                       placeholder=""/>
                {% if errors && errors.errPassword != '' %}
                <span class="text-danger">{{errors.errPassword}}</span>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="passwordConfirm">Repita el password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control"
                       name="passwordConfirm"
                       placeholder=""/>
                {% if errors && errors.errPasswordRepeated != '' %}
                <span class="text-danger">{{errors.errPasswordRepeated}}</span>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
