{% extends "../base.html" %}
{% block css %}<link rel="stylesheet" href="../css/custom.css" /> {% endblock %}
{% block img %}<img src="../img/icon-wallapop.png" alt="logo" /> {% endblock %}
{% block cuerpo %}
<div class="container">
    <h2>A Comprar!!!</h2>
    <form class="navbar-form" method="get" action="/oferta/search">
        <div class="form-group">
            <input name="searchText" type="text" class="form-control" size="50"
                   placeholder="Buscar por el título" value="{{search}}">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
    </form>
    {% if nomoney === 1 %}
    <span class="text-danger">No tienes dinero suficiente</span>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-hover" id="tableSearch">
            <thead>
            <tr>
                <th>Título</th>
                <th>Detalles</th>
                <th>Precio</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for offer in offerList %}
            <tr>
                <td id="{{offer._id.toString()}}search"
                    class="searchOffersList">{{offer.titulo}}</td>
                <td>{{offer.detalles}}</td>
                <td>{{offer.precio}}€</td>
                {% if offer.compra %}
                <td><p style="color: red;">Vendido</p>
                </td>
                {% else %}
                <td><a href="/compra/add/{{offer._id.toString()}}"
                        id="{{offer._id.toString()}}_buy"
                        class="bListToBuy">Comprar</a></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <ul class="pagination pagination-centered">
            <!-- Primera -->
            {% if page.actual > 1 %}
            <li class="page-item"><a id="1pag" class="page-link" href="/oferta/search?pg=1">Primera</a></li>
            {% endif %}
            <!-- Anterior (si la hay ) -->
            {% if page.actual > 2 %}
            <li class="page-item"><a
                    class="page-link" href="/oferta/search?pg={{page.actual-1}}"
                    id="{{page.actual-1}}pag">{{page.actual-1}}</a></li>
            {% endif %}
            <!-- Actual -->
            <li class="page-item active"><a class="page-link"
                                            href="/oferta/search?pg={{page.actual}}"
                                            id="{{page.actual}}pag">{{page.actual}}</a></li>
            <!-- Siguiente (si la hay) -->
            {% if page.actual < page.total - 1 %}
            <li class="page-item"><a
                    class="page-link" href="/oferta/search?pg={{page.actual+1}}"
                    id="{{page.actual+1}}pag">{{page.actual+1}}</a></li>
            {% endif %}
            <!-- Última -->
            {% if page.actual < page.total %}
            <li class="page-item"><a id="{{page.total}}pag" class="page-link"
                                     href="/oferta/search?pg={{page.total}}">Última</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
